.submit-button {
  position: relative;
  top: 5%;
  left: 20px;
}

.signup-button {
  position: relative;
  left: 480px;
}

.signin-button {
  position: absolute;  
  right: 10px;
  bottom: 10px;
}

.edit-user-button {
  position: relative;
  left: 550px;
  bottom: 60px;
  color: rgba(29,161,242,1.00);
  border-color:rgba(29,161,242,1.00);
  border-radius: 15px;
}

.tweet-button {
  position: relative;
  left: 395px;
  border-radius: 15px;
  top: 10px;
}

.follow-button {
  position: relative;
  left: 10px;
  bottom: 2px;
  color: rgba(29,161,242,1.00);
  border-color:rgba(29,161,242,1.00);
  border-radius: 15px;
}

.log-in-button {
  position: relative;
  width: 270px;
  top: 35%;
  border-radius: 20px;

}

.follow-button-view {
  position:absolute;
  left: 590px;
  color: rgba(29,161,242,1.00);
  border-color:rgba(29,161,242,1.00);
  border-radius: 15px;
}


