.field-name {
    position: relative;
    width: 350px;
    padding: 2px;
}

.form-label-login {
    position: relative;
    padding: 2px;
}

.field-email {
    position: relative;
    width: 270px;
    height: 35px;
}

.form-label {
    position: relative;
    padding: 2px;
    top: 10px;
}

.field-tweet {
    position: absolute;
    height: 100px;
    width: 30px;
}