.logo-icon {
    font-size: 25px;
}
.navbar-home-icon {
    position: relative;
    color: rgba(29,161,242,1.00);
    font-size: 60px;
    left: 27px;
    top: 20px;
    padding: 5px;
}
.navbar-icon {
    position: relative;
    color: rgba(29,161,242,1.00);
    font-size: 60px;
    left: 30px;
    top: 20px;
    padding: 5px;
}

.navbar-logo {
    position: relative;
    color: rgba(217,217,217,1.00);
    font-size: 60px;
    left: 30px;
    padding: 5px;
}