.index-title {
  text-align: center
}

.shared-links {
  position: relative;
  left: 485px;
}

.username-label {
  position: relative;
  bottom: 10px;
}

.following-label {
  position: relative;
}

.followers-label {
  position: relative;
  left: 10px;
}

.field-tweet {
  position: relative;
  width: 480px;
  height: 150px;
  left: 12px;
}

.list-group-follow {
  width: 250px;
}
