.index-title {
  text-align: center
}

.log-in-link {
  position: relative;
  left: 485px;
}

.sign-up-link {
  position: relative;
  left: 530px;
  bottom: 150px;
}

.forgot-password-link {
  position: relative;
  left: 530px;
  bottom: 148px;
}

.username-label {
  position: relative;
  bottom: 10px;
}

.username-profile-label {
  position: relative;
  left: 10px;
  font-size: 35px;
}

.following-label {
  position: relative;
}

.followers-label {
  position: relative;
  left: 10px;
}

.field-tweet {
  position: relative;
  width: 480px;
  height: 150px;
  left: 12px;
}

.list-group-follow {
  width: 240px;
}

.navbar-username-label {
  position: relative;  
  left: 350px;
  color: rgba(29,161,242,1.00);
}

.follow-section {
  position: relative;
  bottom: 40px;
}

.username-label-tweet {
  position: static;
  top: 7px;
}

.tweet-style {
  position: relative;
  bottom: 10px;
  left: 25px;
}

.tweet-container {
  width: auto;
  height: auto;
}

