.index-title {
  text-align: center
}

.shared-links {
  position: relative;
  left: 485px;
}

.username-label {
  position: relative;
  bottom: 10px;
}

.following-label {
  position: relative;
}

.followers-label {
  position: relative;
  left: 10px;
}
